@foreach (var alert in TempData.Keys)
{
  <div class="alert alert-@alert alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    @TempData[alert]
  </div>
}