ContosoUniversity.Web/ContosoUniversity.Web.v12.suo
/ContosoUniversity.Web/ContosoUniversity.Web/bin
/ContosoUniversity.Web/ContosoUniversity.Web/obj
/ContosoUniversity.Web/ContosoUniversity.Core/bin
/ContosoUniversity.Web/ContosoUniversity.Core/obj
/ContosoUniversity.Web/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
/ContosoUniversity.Web/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nuspec
/ContosoUniversity.Web/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
/ContosoUniversity.Web/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/Content/App.config.transform
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/Content/Web.config.transform
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nupkg
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nuspec
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.dll
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.xml
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.dll
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net40/EntityFramework.xml
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.dll
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.xml
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.dll
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/lib/net45/EntityFramework.xml
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.Utility.dll
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.dll
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/EntityFramework.psd1
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/about_EntityFramework.help.txt
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/init.ps1
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/install.ps1
/ContosoUniversity.Web/packages/EntityFramework.6.0.0/tools/migrate.exe
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/EntityFramework.6.1.1.nupkg
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/EntityFramework.6.1.1.nuspec
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/content/App.config.transform
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/content/Web.config.transform
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net40/EntityFramework.SqlServer.dll
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net40/EntityFramework.SqlServer.xml
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net40/EntityFramework.dll
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net40/EntityFramework.xml
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net45/EntityFramework.SqlServer.dll
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net45/EntityFramework.SqlServer.xml
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net45/EntityFramework.dll
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/lib/net45/EntityFramework.xml
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/EntityFramework.PowerShell.Utility.dll
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/EntityFramework.PowerShell.dll
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/EntityFramework.psd1
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/EntityFramework.psm1
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/about_EntityFramework.help.txt
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/init.ps1
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/install.ps1
/ContosoUniversity.Web/packages/EntityFramework.6.1.1/tools/migrate.exe
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Core.1.0.0/Microsoft.AspNet.Identity.Core.1.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Core.1.0.0/Microsoft.AspNet.Identity.Core.1.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Core.1.0.0/lib/net45/Microsoft.AspNet.Identity.Core.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Core.1.0.0/lib/net45/Microsoft.AspNet.Identity.Core.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/Microsoft.AspNet.Identity.EntityFramework.1.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/Microsoft.AspNet.Identity.EntityFramework.1.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/lib/net45/Microsoft.AspNet.Identity.EntityFramework.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Owin.1.0.0/Microsoft.AspNet.Identity.Owin.1.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Owin.1.0.0/Microsoft.AspNet.Identity.Owin.1.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Owin.1.0.0/lib/net45/Microsoft.AspNet.Identity.Owin.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.Identity.Owin.1.0.0/lib/net45/Microsoft.AspNet.Identity.Owin.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.Mvc.5.0.0/Microsoft.AspNet.Mvc.5.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.AspNet.Mvc.5.0.0/Microsoft.AspNet.Mvc.5.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45/System.Web.Mvc.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45/System.Web.Mvc.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.Razor.3.0.0/Microsoft.AspNet.Razor.3.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.AspNet.Razor.3.0.0/Microsoft.AspNet.Razor.3.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.AspNet.Razor.3.0.0/lib/net45/System.Web.Razor.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.Razor.3.0.0/lib/net45/System.Web.Razor.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.Web.Optimization.1.1.1/Microsoft.AspNet.Web.Optimization.1.1.1.nupkg
/ContosoUniversity.Web/packages/Microsoft.AspNet.Web.Optimization.1.1.1/Microsoft.AspNet.Web.Optimization.1.1.1.nuspec
/ContosoUniversity.Web/packages/Microsoft.AspNet.Web.Optimization.1.1.1/lib/net40/System.Web.Optimization.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.Web.Optimization.1.1.1/lib/net40/system.web.optimization.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/Microsoft.AspNet.WebPages.3.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/Microsoft.AspNet.WebPages.3.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.Helpers.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.Helpers.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Deployment.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Deployment.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Razor.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Razor.xml
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.dll
/ContosoUniversity.Web/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.xml
/ContosoUniversity.Web/packages/Microsoft.Owin.2.0.0/Microsoft.Owin.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.2.0.0/Microsoft.Owin.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.2.0.0/lib/net40/Microsoft.Owin.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.2.0.0/lib/net40/Microsoft.Owin.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.2.0.0/lib/net45/Microsoft.Owin.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.2.0.0/lib/net45/Microsoft.Owin.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Host.SystemWeb.2.0.0/Microsoft.Owin.Host.SystemWeb.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Host.SystemWeb.2.0.0/Microsoft.Owin.Host.SystemWeb.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net40/Microsoft.Owin.Host.SystemWeb.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net40/Microsoft.Owin.Host.SystemWeb.xml
/ContosoUniversity.Web/packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.2.0.0/Microsoft.Owin.Security.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.2.0.0/Microsoft.Owin.Security.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.2.0.0/lib/net45/Microsoft.Owin.Security.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.2.0.0/lib/net45/Microsoft.Owin.Security.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Cookies.2.0.0/Microsoft.Owin.Security.Cookies.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Cookies.2.0.0/Microsoft.Owin.Security.Cookies.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Cookies.2.0.0/lib/net45/Microsoft.Owin.Security.Cookies.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Cookies.2.0.0/lib/net45/Microsoft.Owin.Security.Cookies.xml
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Facebook.2.0.0/Microsoft.Owin.Security.Facebook.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Facebook.2.0.0/Microsoft.Owin.Security.Facebook.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Facebook.2.0.0/lib/net45/Microsoft.Owin.Security.Facebook.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Facebook.2.0.0/lib/net45/Microsoft.Owin.Security.Facebook.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Google.2.0.0/Microsoft.Owin.Security.Google.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Google.2.0.0/Microsoft.Owin.Security.Google.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Google.2.0.0/lib/net45/Microsoft.Owin.Security.Google.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Google.2.0.0/lib/net45/Microsoft.Owin.Security.Google.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/Microsoft.Owin.Security.MicrosoftAccount.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/Microsoft.Owin.Security.MicrosoftAccount.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.OAuth.2.0.0/Microsoft.Owin.Security.OAuth.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.OAuth.2.0.0/Microsoft.Owin.Security.OAuth.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.OAuth.2.0.0/lib/net45/Microsoft.Owin.Security.OAuth.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.OAuth.2.0.0/lib/net45/Microsoft.Owin.Security.OAuth.dll
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Twitter.2.0.0/Microsoft.Owin.Security.Twitter.2.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Twitter.2.0.0/Microsoft.Owin.Security.Twitter.2.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Twitter.2.0.0/lib/net45/Microsoft.Owin.Security.Twitter.XML
/ContosoUniversity.Web/packages/Microsoft.Owin.Security.Twitter.2.0.0/lib/net45/Microsoft.Owin.Security.Twitter.dll
/ContosoUniversity.Web/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nuspec
/ContosoUniversity.Web/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/ContosoUniversity.Web/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.js
/ContosoUniversity.Web/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.min.js
/ContosoUniversity.Web/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Microsoft.jQuery.Unobtrusive.Validation.3.0.0.nupkg
/ContosoUniversity.Web/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Microsoft.jQuery.Unobtrusive.Validation.3.0.0.nuspec
/ContosoUniversity.Web/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
/ContosoUniversity.Web/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
/ContosoUniversity.Web/packages/Modernizr.2.6.2/Modernizr.2.6.2.nuspec
/ContosoUniversity.Web/packages/Modernizr.2.6.2/Tools/common.ps1
/ContosoUniversity.Web/packages/Modernizr.2.6.2/Tools/install.ps1
/ContosoUniversity.Web/packages/Modernizr.2.6.2/Tools/uninstall.ps1
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/Newtonsoft.Json.5.0.6.nupkg
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/Newtonsoft.Json.5.0.6.nuspec
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net40%2Bsl4%2Bwp7%2Bwin8/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net45%2Bwp80%2Bwin8/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net45%2Bwp80%2Bwin8/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.dll
/ContosoUniversity.Web/packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/Ninject.3.2.2.0.nupkg
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/Ninject.3.2.2.0.nuspec
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/net35/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/net35/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/net40/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/net40/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/net45-full/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/net45-full/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl2/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl2/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl3-wp/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl3-wp/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl3/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl3/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl4-windowsphone71/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl4-windowsphone71/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl4/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl4/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl5/Ninject.dll
/ContosoUniversity.Web/packages/Ninject.3.2.2.0/lib/sl5/Ninject.xml
/ContosoUniversity.Web/packages/Ninject.MVC5.3.2.1.0/Ninject.MVC5.3.2.1.0.nupkg
/ContosoUniversity.Web/packages/Ninject.MVC5.3.2.1.0/Ninject.MVC5.3.2.1.0.nuspec
/ContosoUniversity.Web/packages/Ninject.MVC5.3.2.1.0/lib/net40-full/Ninject.Web.Mvc.dll
/ContosoUniversity.Web/packages/Ninject.MVC5.3.2.1.0/lib/net40-full/Ninject.Web.Mvc.xml
/ContosoUniversity.Web/packages/Ninject.MVC5.3.2.1.0/lib/net45-full/Ninject.Web.Mvc.dll
/ContosoUniversity.Web/packages/Ninject.MVC5.3.2.1.0/lib/net45-full/Ninject.Web.Mvc.xml
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/Ninject.Web.Common.3.2.3.0.nupkg
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/Ninject.Web.Common.3.2.3.0.nuspec
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/lib/net35-full/Ninject.Web.Common.dll
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/lib/net35-full/Ninject.Web.Common.xml
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/lib/net40-full/Ninject.Web.Common.dll
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/lib/net40-full/Ninject.Web.Common.xml
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/lib/net45-full/Ninject.Web.Common.dll
/ContosoUniversity.Web/packages/Ninject.Web.Common.3.2.3.0/lib/net45-full/Ninject.Web.Common.xml
/ContosoUniversity.Web/packages/Ninject.Web.Common.WebHost.3.2.3.0/Content/App_Start/NinjectWebCommon.cs.pp
/ContosoUniversity.Web/packages/Ninject.Web.Common.WebHost.3.2.3.0/Ninject.Web.Common.WebHost.3.2.3.0.nupkg
/ContosoUniversity.Web/packages/Ninject.Web.Common.WebHost.3.2.3.0/Ninject.Web.Common.WebHost.3.2.3.0.nuspec
/ContosoUniversity.Web/packages/PagedList.1.17.0.0/PagedList.1.17.0.0.nupkg
/ContosoUniversity.Web/packages/PagedList.1.17.0.0/lib/net40/PagedList.dll
/ContosoUniversity.Web/packages/PagedList.1.17.0.0/lib/net40/PagedList.xml
/ContosoUniversity.Web/packages/PagedList.Mvc.4.5.0.0/Content/Content/PagedList.css
/ContosoUniversity.Web/packages/PagedList.Mvc.4.5.0.0/PagedList.Mvc.4.5.0.0.nupkg
/ContosoUniversity.Web/packages/PagedList.Mvc.4.5.0.0/lib/net40/PagedList.Mvc.XML
/ContosoUniversity.Web/packages/PagedList.Mvc.4.5.0.0/lib/net40/PagedList.Mvc.dll
/ContosoUniversity.Web/packages/WebActivatorEx.2.0.5/WebActivatorEx.2.0.5.nupkg
/ContosoUniversity.Web/packages/WebActivatorEx.2.0.5/WebActivatorEx.2.0.5.nuspec
/ContosoUniversity.Web/packages/WebActivatorEx.2.0.5/lib/net40/WebActivatorEx.dll
/ContosoUniversity.Web/packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
/ContosoUniversity.Web/packages/WebGrease.1.5.2/WebGrease.1.5.2.nuspec
/ContosoUniversity.Web/packages/WebGrease.1.5.2/lib/WebGrease.dll
/ContosoUniversity.Web/packages/WebGrease.1.5.2/tools/WG.exe
/ContosoUniversity.Web/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
/ContosoUniversity.Web/packages/bootstrap.3.0.0/bootstrap.3.0.0.nuspec
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/Content/bootstrap.css
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
/ContosoUniversity.Web/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
/ContosoUniversity.Web/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
/ContosoUniversity.Web/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
/ContosoUniversity.Web/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
/ContosoUniversity.Web/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
/ContosoUniversity.Web/packages/jQuery.1.10.2/Tools/common.ps1
/ContosoUniversity.Web/packages/jQuery.1.10.2/Tools/install.ps1
/ContosoUniversity.Web/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
/ContosoUniversity.Web/packages/jQuery.1.10.2/Tools/uninstall.ps1
/ContosoUniversity.Web/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
/ContosoUniversity.Web/packages/jQuery.1.10.2/jQuery.1.10.2.nuspec
/ContosoUniversity.Web/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
/ContosoUniversity.Web/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
/ContosoUniversity.Web/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
/ContosoUniversity.Web/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
/ContosoUniversity.Web/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nuspec
